h1 {
    color: #272343;
  }
  
  #price {
    font-size: 4em;
    filter: drop-shadow(0 0 2em #ff0324aa);
    will-change: filter;
    transition: filter 300ms;
  
  }

  #price:hover {
    filter: drop-shadow(0 0 2em #ff0324aa);
  
  }